.Container {
  display: block;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #2a363b;
  margin-left: 10px;
}

.Button {
  height: 32px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 10px;
}
.Button:hover,
:focus {
  background-color: #86d868;
}
